@import '.././../assets/styles/variables.scss';
@import '.././../assets/styles/reset.scss';

#register {
  background-image: url('../../assets/bg-mobile.svg');
  border: 1px solid red;
  font-family: $font-monserrat;

}
.boder{
  border-radius: 40px;
}



