@import '.././../assets/styles/variables.scss';
@import '.././../assets/styles/reset.scss';

body {
  background-image: url('../../assets/bg-mobile.svg');
  max-width: 500px;
}

/* Contenedor principal */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white; /* Fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px;
  box-sizing: border-box;
}
