@import '../../assets/styles/variables.scss';

.filter{
    &__container{
        // background-color: red;
        font-family: $font-monserrat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list{
        padding: 0;
        display: flex;
        list-style-type: none;
        gap: 10px;
        align-items: center;
        justify-content: center;
       
        button{
            background-color: $light-azure-blue;
            font-family: $font-monserrat;
            padding: 10px 15px;
            border-radius: 4px;
            font-size: 14px;
            border-color:transparent;
            background: #1caca5;
        color: #fff;

        }
        ul{
            list-style: none;
        }
    }
}