.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__contentCard{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}