html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


/* Estilos de scroll personalizado para navegadores WebKit */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #A7A7A7;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

/* Estilos de scroll personalizado para navegadores que no sean de WebKit */
body {
    scrollbar-width: thin;
    scrollbar-color: #A7A7A7 transparent;
}